{% extends 'layout.html' %}
{% block content %}



<!-- carosel -->

<script>
    function copiarTexto() {
        let textoCopiado = document.getElementById("texto");
        textoCopiado.select();
        textoCopiado.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("O texto é: " + textoCopiado.value);
    }
</script>



<!-- contato -->

<div class="row">
  <div class="col">
    <div class="modal modal-sheet position-static d-block bg- p-4 py-md-5" tabindex="-1" role="dialog" id="modalTour">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body p-5">
            <h2 class="fw-bold mb-0 border-bottom" style="text-align: center;">Contatos</h2>
    
            <ul class="d-grid gap-4 my-5 list-unstyled small">
              <li class="d-flex gap-4">
                <a href="https://www.instagram.com/agrocity____/" ><img src="static/imagens/instagram.png" class="bi text-body-secondary flex-shrink-0"  width="48" height="48"></a>
                <div>
                  <h5 class="mb-0">Instagram</h5>
                  Siga a gente nas redes sociais.
                </div>
              </li>
              <li class="d-flex gap-4">
                <a href="https://www.facebook.com/profile.php?id=100093351835424" ><img src="static/imagens/facebook.png" class="bi text-body-secondary flex-shrink-0"  width="48" height="48"></a>
                <div>
                  <h5 class="mb-0">Facebook</h5>
                  Siga a gente nas redes sociais.
                </div>
              </li>
              <li class="d-flex gap-4">
                <img src="static/imagens/email.png" onclick="copiarTexto()" class="bi text-body-secondary flex-shrink-0"  width="48" height="48">
                <div>
                  <h5 class="mb-0">Email</h5>
                  Siga a gente nas redes sociais.
                  
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
