{% extends 'layout.html' %}
{% block content %}

<!-- IMAGEM -->
<img src="static/imagens/7.png" class="img-fluid" alt="...">


<!-- Ingressos -->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">22/06</h2>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h5 class="mb-1">Programação</h5>
        <div>
          <div class="list-group">
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Feira</h5>
              </div >
              <p class="lead " style="text-align: left;">Das 09:00 as 18:00</p>
            </a>
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show</h5>
              </div class="text" >
              <h1 class="lead" style="text-align: left;">Cantor Daniel as 20:00</h1>
            </a>
          </div>
        </div>
      </div>
  
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">23/06</h2>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h5 class="mb-1">Programação</h5>
        <div>
          <div class="list-group">
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Feira</h5>
              </div>
              <p class="lead" style="text-align: left;">Das 09:00 as 18:00</p>
            </a>
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show</h5>
              </div>
              <p class="lead" style="text-align: left;">Cantor Guilherme e Benuto as 20:00</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">24/06</h2>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h5 class="mb-1">Programação</h5>
        <div>
          <div class="list-group">
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Feira</h5>
              </div>
              <p class="lead" style="text-align: left;">Das 09:00 as 18:00</p>
            </a>
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show</h5>
              </div>
              <p class="lead" style="text-align: left;">Cantor Ana Castela as 20:00</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">25/06</h2>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h5 class="mb-1">Programação</h5>
        <div>
          <div class="list-group">
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Feira</h5>
              </div>
              <p class="lead" style="text-align: left;">Das 09:00 as 18:00</p>
            </a>
            <a class="list-group-item list-group-item-disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show</h5>
              </div>
              <p class="lead" style="text-align: left;">Cantor Hugo e Guilherme as 20:00</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}