{% extends 'layout.html' %}
{% block content %}

<!-- IMAGENS -->
<img src="static/imagens/7.png" class="img-fluid" alt="">

</body>

<!-- Ingressos -->
<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Inteira</h1>
      <p class="lead">O ingresso de modalidade inteira é o ingresso comum do evento, qualquer pessoa pode adquiri-lo sem nenhuma condição ou comprovação imposta. 
        Por apenas R$ 90,00</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="index.html"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Compra</button></a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="static/imagens/1.png" alt="" width="500">
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Meia</h1>
      <p class="lead">Para ter acesso a esse benefício, é necessário apresentar a carteira de estudante, crianças até 5 anos não paga. Por apenas R$ 45,00</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="index.html"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Compra</button></a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="static/imagens/2.png" alt="" width="500">
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Vip</h1>
      <p class="lead">Comprando o ingresso vip você terá acesso total e ao camarote com bebidas e comidas inclusas na exposição no evento. Por R$ 150,00</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="index.html"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Compra</button></a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="static/imagens/3.png" alt="" width="500">
    </div>
  </div>
</div>

</body>

{% endblock %}